<div class="container" style="margin-top: 2%;">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Select Brand</label>
            <div class="col-sm-10">
  
              <select class="form-control" >
                <option>Choose Brand name </option>
                <option>MOTo</option>
                <option>Apple</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Manage Model</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPassword3" placeholder="Model name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Upload Model Image</label>
            <div class="col-sm-10">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Model Specification</label>
            <div class="col-sm-10">
              <div class="form-group"  >
                 
                  <textarea class="form-control" rows="5" id="comment" placeholder="Model Specs"></textarea>
                </div>
            </div>
          </div>
          
        </form>
  
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 style="text-align: center;">Manage Models</h2>
  
        <table class="table table-hover " >
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Brand</th>
              <th scope="col">Model</th>
              <th scope="col">Edit</th>
  
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Apple</td>
              <td>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque </p>
              </td>
              <td>  <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Active</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">Inactive</label>
                </div>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Samsung</td>
              <td><i class="fab fa-apple"></i></td>
              <td> <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline12" name="customRadioInline11" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline12">Active</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline21" name="customRadioInline11" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline21">Inactive</label></div>
                  <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            
            
          </tbody>
        </table>
  
      </div>
    </div>
  
  </div>
  