<div class="middle">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
        <h1>Add Product Price Table</h1>
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">Select Model</th>
                <th scope="col">Less than 3 Months</th>
                <th scope="col">Between 3-6 Months</th>
                <th scope="col">Between 6-11 Months</th>
                <th scope="col">Greater than 11 Months</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">UptoPrice</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select >
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Box</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Valid Bill</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              
              <tr>
                <th scope="row">Original Charger</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Original Earphones</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Glass Broken</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Touch Issue</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Front Camera Faulty</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Back Camera Faulty</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Cellular Issue</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Wifi Not Working</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Battery Faulty</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Device Condition|Average</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th scope="row">Device Condition|Not So Good</th>  
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>  
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                  <form>
                    <div class="row">
                      <div class="col">
                        <select>
                          <option selected>choose</option>
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </td>
              </tr>
              
            </tbody>
          </table>
  </div>
</div>
</div>
</div>
