<div class="middle">
    <div class="container">
        <h1>Add Product Price Table</h1>
        <table class="table ">
            <thead>
              <tr>
                <th scope="col">Select Model</th>
                <th scope="col">Less than 3 Months</th>
                <th scope="col">3-6 Months</th>
                <th scope="col">6-11 Months</th>
                <th scope="col">Greater than 11 Months</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                    <select>
                      <option selected>Models</option>
                      <option>Price</option>
                      <option>Box</option>
                      <option>Valid Bill</option>
                      <option>Original Charger</option>
                      <option>Original Earphones</option>
                      <option>Glass Broken</option>
                      <option>Touch Issue</option>
                      <option>Front Camera Faulty</option>
                      <option>Back Camera Faulty</option>
                      <option>Cellular Issue</option>
                      <option>Wifi Not Working</option>
                      <option>Battery Faulty</option>
                      <option>Device Condition|Average</option>
                      <option>Device Condition|Not So Good</option>
                    </select>
                </th>
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Input">
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                </td>  
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                </td>
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <select>
                    <option selected>Models</option>
                    <option>Price</option>
                    <option>Box</option>
                    <option>Valid Bill</option>
                    <option>Original Charger</option>
                    <option>Original Earphones</option>
                    <option>Glass Broken</option>
                    <option>Touch Issue</option>
                    <option>Front Camera Faulty</option>
                    <option>Back Camera Faulty</option>
                    <option>Cellular Issue</option>
                    <option>Wifi Not Working</option>
                    <option>Battery Faulty</option>
                    <option>Device Condition|Average</option>
                    <option>Device Condition|Not So Good</option>
                  </select>
              
                </th>
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                    </td>
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>  
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>
              </tr>
              <tr>
                <th scope="row">
                  <select>
                    <option selected>Models</option>
                    <option>Price</option>
                    <option>Box</option>
                    <option>Valid Bill</option>
                    <option>Original Charger</option>
                    <option>Original Earphones</option>
                    <option>Glass Broken</option>
                    <option>Touch Issue</option>
                    <option>Front Camera Faulty</option>
                    <option>Back Camera Faulty</option>
                    <option>Cellular Issue</option>
                    <option>Wifi Not Working</option>
                    <option>Battery Faulty</option>
                    <option>Device Condition|Average</option>
                    <option>Device Condition|Not So Good</option>
                  </select>
              </th>
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                    </td>
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>  
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>
              </tr>
              <tr>
                <th scope="row">
                  <select>
                    <option selected>Models</option>
                    <option>Price</option>
                    <option>Box</option>
                    <option>Valid Bill</option>
                    <option>Original Charger</option>
                    <option>Original Earphones</option>
                    <option>Glass Broken</option>
                    <option>Touch Issue</option>
                    <option>Front Camera Faulty</option>
                    <option>Back Camera Faulty</option>
                    <option>Cellular Issue</option>
                    <option>Wifi Not Working</option>
                    <option>Battery Faulty</option>
                    <option>Device Condition|Average</option>
                    <option>Device Condition|Not So Good</option>
                  </select>
              </th>
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                    </td>
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>  
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>
              </tr>
              <tr>
                <th scope="row">
                  <select>
                    <option selected>Models</option>
                    <option>Price</option>
                    <option>Box</option>
                    <option>Valid Bill</option>
                    <option>Original Charger</option>
                    <option>Original Earphones</option>
                    <option>Glass Broken</option>
                    <option>Touch Issue</option>
                    <option>Front Camera Faulty</option>
                    <option>Back Camera Faulty</option>
                    <option>Cellular Issue</option>
                    <option>Wifi Not Working</option>
                    <option>Battery Faulty</option>
                    <option>Device Condition|Average</option>
                    <option>Device Condition|Not So Good</option>
                  </select>
              </th>
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                    </td>
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>  
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>
                    <td>
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Input">
                              </div>
                            </div>
                          </form>
                    </td>
              </tr>
              <tr>
                <th scope="row">
                    <select>
                      <option selected>Models</option>
                      <option>Price</option>
                      <option>Box</option>
                      <option>Valid Bill</option>
                      <option>Original Charger</option>
                      <option>Original Earphones</option>
                      <option>Glass Broken</option>
                      <option>Touch Issue</option>
                      <option>Front Camera Faulty</option>
                      <option>Back Camera Faulty</option>
                      <option>Cellular Issue</option>
                      <option>Wifi Not Working</option>
                      <option>Battery Faulty</option>
                      <option>Device Condition|Average</option>
                      <option>Device Condition|Not So Good</option>
                    </select>
                </th>
                <td>
                <form>
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Input">
                      </div>
                    </div>
                  </form>
                </td>
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                </td>  
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                </td>
                <td>
                    <form>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Input">
                          </div>
                        </div>
                      </form>
                </td>
              </tr>
              <tr>
                <tr>
                  <th scope="row">
                      <select>
                        <option selected>Models</option>
                        <option>Price</option>
                        <option>Box</option>
                        <option>Valid Bill</option>
                        <option>Original Charger</option>
                        <option>Original Earphones</option>
                        <option>Glass Broken</option>
                        <option>Touch Issue</option>
                        <option>Front Camera Faulty</option>
                        <option>Back Camera Faulty</option>
                        <option>Cellular Issue</option>
                        <option>Wifi Not Working</option>
                        <option>Battery Faulty</option>
                        <option>Device Condition|Average</option>
                        <option>Device Condition|Not So Good</option>
                      </select>
                  </th>
                  <td>
                  <form>
                      <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Input">
                        </div>
                      </div>
                    </form>
                  </td>
                  <td>
                      <form>
                          <div class="row">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Input">
                            </div>
                          </div>
                        </form>
                  </td>  
                  <td>
                      <form>
                          <div class="row">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Input">
                            </div>
                          </div>
                        </form>
                  </td>
                  <td>
                      <form>
                          <div class="row">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Input">
                            </div>
                          </div>
                        </form>
                  </td>
                </tr>
                <tr>
            </tbody>
          </table>
    </div>
</div>
